@import '../../App.scss';

.content-container {
    padding: 15px;
    .pokemon-name {
        font-weight: bold;
        font-size: 12px;
        color: #48D0B0;
        text-transform: capitalize;
    }
    .pokomon-skill-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        .skills-wrapper {
            .skills-container {
                background-color: rgba(255,255,255,0.2);
                border-radius: 20px;
                padding: 5px 5px 5px 0;
                .skills {
                    margin: 0;
                    font-size: 10px;
                    color: black;
                }
            }
        }
        .pokemon-image-container {
            .pokemon-image {
                width: 60px;
            }
        }
    }
}