.my-pokemon-card {
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: white;
    .text-container {
        margin: auto;
    }
}